<footer class="footer">
  <div class="footer__inner">
    <p class="footer__copy">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
    <div class="footer__links">
      <a href="https://scholar.google.com/citations?user=A8So5p8AAAAJ">Scholar</a>
      <a href="https://orcid.org/0000-0001-9118-0235">ORCID</a>
      <a href="https://cv.hal.science/madjid-sadallah">HAL</a>
      <a href="https://www.researchgate.net/profile/Madjid-Sadallah">ResearchGate</a>
    </div>
  </div>
</footer>
